
 

 <div class="d-flex h-100 text-center text_white modal-backdrop2 justify-content-center align-items-center body_shadow">  
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column align-items-center justify-content-center">
    <main class="px-3">
      <h1>Threai</h1>
      <p class="lead">The only true wisdom is in knowing you know nothing.<br>-Socrates-</p>
      <p class="lead mg_bm">
      <%= link_to("Sign up", "users/new", class: "btn btn-lg btn-light fw-bold border-black btn_bg_blue mg_btn_r") %>
      <%= link_to("Login", "users/login_form", class: "btn btn-lg btn-light fw-bold border-black btn_bg_blue mg_btn_l") %> 
      </p>
    </main>
  </div>
</div>