

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold  mb-4">Threai</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">このアプリは質問と回答、フィード型SNS、さらにはスレッドを組み合わせた、フィード型の質問・回答・議論アプリです。</p>
        <p class="lead mb-4">ユーザーは疑問や興味を持ったトピックについて質問を投稿し、AIが要約した内容を提供します。さらに、AIを通じて回答が難しい経験や意見を共有することも可能です。</p>
        <p class="lead mb-4">また、他のユーザーからの質問や議論に参加することで、自身の知識を深めることができます。自分から調べるほどの時間や興味がないトピックについても、他のユーザーからの情報を通じて学ぶことができます。</p>
        <p class="lead mb-5">このアプリを利用することで、暇な時間を有効活用し、新しい知識を得たり、興味深い議論に参加したりすることができます。</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold mb-4">Develop</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">このアプリはRuby on Rails 7を主に使用しており、HTML、CSS、JavaScriptを使用しています。ビューはBootstrap 5を活用し、モダンなUIを実現しています。</p>
        <p class="lead mb-4">開発の目的は、アプリの内容に焦点を当てることで、最低限の機能を備えています。ユーザーページや投稿の編集、検索、タグなどの機能は現在は備えていませんが、必要に応じて随時更新していく予定です。</p>
        <p class="lead mb-4">投稿の回答や返信をトグルで非表示にすることで、視覚的な改善と操作性の向上を図り、不用意に回答を見てしまうリスクを減らしています。また、AIの返信が過度に長くなる場合があるため、バックエンドで要約して出力するようにしています。</p>
        <p class="lead mb-4">開発期間は1週間で行われ、効果的な機能の実装に努めました。</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold mb-4">Portfolio</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">下記ウェブサイトは、私の自己紹介と創作活動を通じて、デザインと技術の融合スキルを展示するために設計されました。 
                            学生時代から多岐にわたる分野に情熱を注ぎ、その経験と学びがこのサイトに集約されています。</p>
      <p class="lead mb-4"> ここに展示されている各プロジェクトは、クリエイティブなアイデアを具体的な形に落とし込むプロセスを経て、 当時の信条や感情を素直に表現することを目指して制作されました。</p> 
      <p class="lead mb-4">また、このウェブサイト自体も私の技術力を示す作品であり、レイアウトや色使いには特にこだわりを持って取り組んでいます。 各プロジェクトの背後にあるストーリーやデザインに込めた思いを、ぜひご覧ください。</p>
        <%= link_to 'Portfolio', '/revelum/index', class:"btn btn-lg btn-light fw-bold border-black btn_bg_blue " %>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
    </div>
  </div>


  

   <div class="b-example-divider"></div>

<div class="px-4 py-5 my-5 text-center ">
    <h1 class="display-5 fw-bold mb-4">Version</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"></p>
      <p class="lead mb-4"></p>
      <p class="lead mb-4">2024/06/13 ver 1.2.o  Portfolioの実装</p>
      <p class="lead mb-4">2024/05/30 ver 1.1.0  PullToRefresh機能を削除</p>
      <p class="lead mb-4">2024/05/23 ver 1.0.0  Released</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        
      </div>
    </div>
  </div>




  



