:root {
  --color-blue: #044850;
  --color-yellow: #b7c706;
}

.bg_yellow {
  background-color: var(--color-yellow);
}

.bg_black{
   background-color: #23272a;
}

.btn_bg_black{
  background-color:#363636;
}

.btn_bg_black:hover{
  background-color:#23272a;
}


.btn_bg_blue{
  background-color:#7289da;
}

.btn_blue{
  color:#7289da;
}



.btn_bg_blue:hover{
  background-color:#5b6eae;
}

.border-black {
  --bs-border-opacity: none;
}

.text_yellow {
  color: var(--color-yellow);
}

.bg_blue {
  background-color: var(--color-blue);
}

.text_blue {
  color: var(--color-blue);
}

.mg_bm {
  margin: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.modal-backdrop2 {
  --bs-backdrop-zindex: 1050;
  --bs-backdrop-bg: var(--color-blue);
  --bs-backdrop-opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: #23272a;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: var(--bs-backdrop-opacity);
}

.text_white {
  color: aliceblue;
}

.body_shadow {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.bi2 {
  vertical-align: -.125em;
  fill: currentColor;
}  

.bi::before,
[class^=bi-]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bi2::before,
[class^=bi2-]::before,
[class*=" bi2-"]::before {
  display: inline-block;
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.3em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-gray-800 {
  --bs-bg-opacity: 1;
  background-color: #343a40 !important;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.height-form{
  height: 2rem
}

.border-radius-8{
  border-radius:8px;
}

.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none;
}

.mg_btn {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mg_btn_l{
  margin-left: 1rem;
}

.mg_btn_r{
margin-right: 1rem;

}

.send-button:hover .bi-send {
  display: none;
}

.send-button:hover .bi-send-fill {
  display: inline;
}

.bi-send-fill {
  display: none;
}

.chat-input-form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  background-color: #2c2f33;
}




.form-control2 {
  background-color: #23272a;
  border: none;
  border-radius: 25px;
  color: #fff;
  height: 46px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  transition: none;
  flex-grow: 1;
}

.form-control2:focus {
  background-color: #23272a;
  color: #fff;
  box-shadow: none !important;
  border-color: transparent !important;
  outline: none !important;
}

.chat-input-form2 {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  background-color: #343a40;
}

.form-control3 {
  background-color: #343a40;
  border: none;
  border-radius: 25px;
  height: 46px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #fff;
  flex-grow: 1;
  transition: none;
}

.form-control3:focus {
  background-color: #343a40;
  color: #fff;
  box-shadow: none !important;
  border-color: transparent !important;
  outline: none !important;
}

.left-brock{
  background-color: #23272a;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
}

.left-brock2{
  background-color: #343a40;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
}

.send-button {
  background-color: #7289da;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
}

.send-button:hover {
  background-color: #5b6eae;
}

.card2 {
  background-color: #f8f9fa;
  border-radius: 10px;
}

.input-group{
flex-wrap:  nowrap;
}

/*about */
@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

/*Revelum*/

.page-section {
  padding:8rem 0 ;

}


.text-white-75 {
  color: rgba(255, 255, 255, 0.75) !important;
}

.al-item-center{
  align-content: center;
  flex-wrap:wrap;

}
.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

hr.divider {
  height: 0.2rem;
  max-width: 3.25rem;
  margin: 1.5rem auto;
  
  opacity: 1;
}

hr.divider2 {
  height: 0.2rem;
  max-width: 5.5rem;
  margin: 1.5rem auto 1.5rem 0rem;
  
  opacity: 1;
}

hr.divider3 {
  height: 0.15rem;
  max-width: 5.5rem;
  margin: 0.5rem auto;
  background-color: #a3000a;
  opacity: 0.5;

}



hr.divider-light {
  background-color: #fff;
}

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease;
}
#mainNav .navbar-brand {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #212529;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: #6c757d;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.75rem 0;
}
#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #a3000a;
}
#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #a3000a !important;
}
@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.9);
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-shrink {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #a3000a;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: #a3000a;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background:  url("img/header1_pc.png");
  

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
header.masthead h1, header.masthead .h1 {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 20rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1, header.masthead .h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1, header.masthead .h1 {
    font-size: 3.5rem;
  }
}

#History .container-fluid, #History .container-sm, #History .container-md, #History .container-lg, #History .container-xl, #History .container-xxl {
  max-width: 1920px;
}
#History .container-fluid .History-box, #History .container-sm .History-box, #History .container-md .History-box, #History .container-lg .History-box, #History .container-xl .History-box, #History .container-xxl .History-box {
  position: relative;
  display: block;
}
#History .container-fluid .History-box .History-box-caption, #History .container-sm .History-box .History-box-caption, #History .container-md .History-box .History-box-caption, #History .container-lg .History-box .History-box-caption, #History .container-xl .History-box .History-box-caption, #History .container-xxl .History-box .History-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(244, 98, 58, 0.9);
  transition: opacity 0.25s ease;
  text-align: center;
}
#History .container-fluid .History-box .History-box-caption .project-category, #History .container-sm .History-box .History-box-caption .project-category, #History .container-md .History-box .History-box-caption .project-category, #History .container-lg .History-box .History-box-caption .project-category, #History .container-xl .History-box .History-box-caption .project-category, #History .container-xxl .History-box .History-box-caption .project-category {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}
#History .container-fluid .History-box .History-box-caption .project-name, #History .container-sm .History-box .History-box-caption .project-name, #History .container-md .History-box .History-box-caption .project-name, #History .container-lg .History-box .History-box-caption .project-name, #History .container-xl .History-box .History-box-caption .project-name, #History .container-xxl .History-box .History-box-caption .project-name {
  font-size: 1.2rem;
}
#History .container-fluid .History-box:hover .History-box-caption, #History .container-sm .History-box:hover .History-box-caption, #History .container-md .History-box:hover .History-box-caption, #History .container-lg .History-box:hover .History-box-caption, #History .container-xl .History-box:hover .History-box-caption, #History .container-xxl .History-box:hover .History-box-caption {
  opacity: 1;
}


link{

height: 100px;
width: 100%;
display: block;
}

#History{
  height:auto;
  width:100%;
  background-color:#a3000a;
  padding: 8rem 0;
  }
  
  .container_his{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10%;
  margin-right: 10%;
  }
  
  .container_his1{
    width: 100%;
    height:auto;
  }
  
  .container_img{
    width:50%;
    height: 100%;
  padding: 1rem 1rem 1rem 3rem ;
  display: block;
  }
  
  .container_img_logo{
  
  padding: 3rem ;
  display: block;
  margin: 0 auto;
  width: 40%;
  }
  
  
  .img{
  height: 100%;
  background:url("");
  max-width: 100%;
  
  }
  
  .img_Takeru{
    height: 100%;
    background:url("");
    max-width: 85%;
    
    }
  
    .container_sen{
      width: 50%;
    padding: 0 3rem 0 1.5rem;
    }

    .img_contain{
      object-fit: contain;

    }
  
  
  
  
  
  
  .news-wrap{
    display: flex;
    flex-wrap: wrap;
  }
  
  .news-container{
    width: 33.333333333%;
    box-sizing: border-box;
    padding: 0 2rem;
  
  }
  
  
  #newsbox{
  padding-bottom:5%;
  width:100%;
  }
  
  .meta-box{
    box-sizing: border-box;
  
  
  }
  .news-info-time{
  margin: 0;
  padding-right: 0.5rem;
  margin-left: auto;
  }
  .news-info-author{
  margin: 0;
  margin-right: auto;
  padding-left: 0.5rem;
  }
  
  .main-bg-color{
  background-color:white;
  }
  
  .sub-bg-color{
  background-color:#363636;
  }
  
  .orange-bg-color{
  background-color:#a3000a;
  
  }
  
  .red-bg-color{
  background-color:#a3000a;
  
  }
  
  .wine-bg-color{
   
    background-color:#861d3d;
    
    }
  .main-color{
  color:white;
  
  }
  
  .sub-color{
  color:#363636;
  
  }
  
  
  .orange-color{
  color:#a3000a;
  }
  
  .red-color{
  color:#a3000a;
  
  }
  
  .inline{
    display: inline-block;
  }
  
  .float_left{
  float: left;
  }
  
  .float_right{
    float: right;
    }
  
  #about{
  width: 100%;
  height: auto;
  
  }

  .text-right{
    text-align: right;

  }

  .page-section2{
  padding: 8rem 0;
  display: flex;
  }
  
  
  #shopinfo{
    padding: 8rem 0;
  }
  
  
  .staff_container{
    width: 50%;
    height:auto;
    padding:2rem 2.5rem;
    box-sizing: border-box;
  }
  
  .border_line{
    border-right: 1.5px solid rgba(243,172,89,0.5);
  }
  
  .Line_2n:nth-child(2n){
    border: none;
  }
  
  .Line_3n:nth-child(3n){
    border: none;
  }
  
  .flex-wrap{
    display: flex;
    flex-wrap: wrap;
  }

  /*artifact slider*/
  
  .carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-content {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.carousel-slide img {
    max-width: 100%;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0px;
    z-index: 1;
    width: 30px; /* ボタンの幅 */
    height: 30px; /* ボタンの高さ */
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control.prev {
    left: 0px; /* スライダーの外側に移動 */
    
}

.carousel-control.next {
    right: 0px; /* スライダーの外側に移動 */
    
}

.container_sen {
    flex: 1;
}

.container_img {
    flex: 1;
    position: relative; /* これにより、子要素のposition:absoluteが親要素に対して機能します */
}

#carousel-container {
    position: relative; /* これにより、矢印ボタンの親要素に対してposition:absoluteが機能します */
}

.btn-flex-center{
  align-items: center;
  flex-direction: column;
}